// custom variables

// shadows
$sh1: 0 5px 5px rgba(0,0,0,.2);
$sh2: 0 10px 30px rgba(0,0,0,.2);
$sh3: 0 0 60px 0 rgba(0,0,0,.2);

// gradients
$gradient-blue: linear-gradient(90deg, #3196f7, #396c9e);
